body {
background-color: grey	;
font-family: Arial; 
}

nav {
	color: white;
}

h1, p {
	color: black;
}

h1 {
	font-weight: bold;
	text-transform: uppercase;
}

h3{
	font-family: times new roman;
}

li {

}


img{
	width: 50%
}

footer{
	
}



